.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: #f9e8a1;
  padding: 15px 10px; }
  @media screen and (max-width: 500px) {
    .header {
      justify-content: center; } }
  .header .container {
    display: flex;
    align-items: center; }
    .header .container .header-logo {
      margin: 0 auto; }
      .header .container .header-logo img {
        width: 150px;
        margin-right: 2rem;
        cursor: pointer; }
      @media screen and (max-width: 930px) {
        .header .container .header-logo {
          max-width: 120px; } }
    .header .container .header-location {
      outline: 2px solid #6a8c00;
      border-radius: 10px;
      padding: 8px 20px;
      background: #c6ff6d52;
      margin: auto;
      cursor: pointer;
      transition: all 0.2s linear; }
      .header .container .header-location a {
        color: #182600;
        font-size: 16px; }
      .header .container .header-location:hover {
        background-color: rgba(98, 160, 0, 0.321569);
        outline: 3px solid #6a8c00; }
      .header .container .header-location .header-location--text strong {
        border: none;
        background: none;
        font-weight: bold;
        font-size: 16px;
        color: #000000; }
      @media screen and (max-width: 930px) {
        .header .container .header-location {
          display: none; } }
    @media screen and (max-width: 440px) {
      .header .container {
        width: 100%; } }
  .header .container:last-child {
    justify-content: flex-end;
    margin-right: 2rem; }
    .header .container:last-child .header-orders {
      margin: auto;
      border: none;
      outline: 2px solid #6a8c00;
      color: #182600;
      font-weight: bold;
      padding: 10px 20px;
      font-size: 1.2rem;
      border-radius: 20px;
      background: #c6ff6d52;
      margin-right: 2rem;
      transition: all 0.2s linear; }
      .header .container:last-child .header-orders:hover {
        background-color: rgba(98, 160, 0, 0.321569);
        outline: 3px solid #6a8c00; }
    .header .container:last-child .header-cart {
      height: 35px;
      position: relative; }
      .header .container:last-child .header-cart img {
        width: 100%;
        height: 100%; }
      .header .container:last-child .header-cart .cart-item-count {
        position: absolute;
        top: -5px;
        right: -5px;
        background: red;
        color: white;
        font-weight: bold;
        padding: 1px 5px;
        border-radius: 50%; }
    @media screen and (max-width: 930px) {
      .header .container:last-child {
        display: none; } }
  .header .header-search-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex: 1; }
    @media screen and (max-width: 440px) {
      .header .header-search-container {
        flex-direction: column;
        padding: 0; } }
  .header .header-searchbox {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
    border: 2px solid #c98600;
    background: white;
    padding-left: 1.5rem;
    margin: 0 1rem;
    flex: 1;
    min-width: 240px; }
    @media screen and (max-width: 440px) {
      .header .header-searchbox {
        margin-bottom: 1rem; } }
    .header .header-searchbox input {
      color: #793d00;
      font-size: 18px;
      border: none;
      width: 90%;
      height: 100%;
      padding-right: 10px; }
      .header .header-searchbox input::placeholder {
        font-weight: bold;
        color: #793d00;
        font-size: 16px; }
      .header .header-searchbox input:focus {
        outline: none; }
    .header .header-searchbox img {
      width: 10%;
      padding: 10px;
      background: #ffc100;
      border-left: 2px solid #c98600;
      cursor: pointer;
      max-width: 49px;
      margin-left: auto;
      min-width: 42px; }
  .header .hamburger .hamburger-options {
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    list-style: none;
    background: #f9e8a1;
    border: 2px solid #c98600;
    padding: 3rem 1rem;
    transform: translateX(100%);
    transition: transform 0.3s linear;
    opacity: 0;
    z-index: -20; }
    .header .hamburger .hamburger-options li a {
      font-size: 25px;
      line-height: 2;
      font-weight: bold;
      color: #793d00; }
      .header .hamburger .hamburger-options li a:hover {
        text-decoration: underline; }
    .header .hamburger .hamburger-options .close-btn {
      text-align: end; }
    @media screen and (max-width: 930px) {
      .header .hamburger .hamburger-options {
        opacity: 1;
        z-index: 20; } }
    @media screen and (max-width: 400px) {
      .header .hamburger .hamburger-options {
        width: 100vw; } }
  .header .hamburger .ham-icon {
    width: 25px;
    display: none; }
    @media screen and (max-width: 930px) {
      .header .hamburger .ham-icon {
        display: block; } }
  .header .hamburger-options.active {
    transform: translateX(0); }

main {
  display: grid;
  place-content: center;
  grid-gap: 2rem;
  margin: 4rem 2rem; }
  main label {
    font-size: 21px;
    font-weight: bold;
    margin-right: 2rem; }
  main input {
    border: 2px solid #4f4f4f;
    padding: 8px 20px;
    font-size: 20px;
    border-radius: 40px; }
    @media screen and (max-width: 350px) {
      main input {
        padding: 8px 13px;
        font-size: 17px; } }
  main button {
    font-size: 20px;
    padding: 5px 20px;
    border: none;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 10px #666666;
    cursor: pointer; }
    main button.save {
      background: green;
      margin-right: 2rem; }
    main button.logout {
      background: red; }
